<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
        <div class="jumbotron">
            <h1 class="display-4">안녕하세요!</h1>
            <p class="lead">글자를 세는 곳입니다. 여기에 글자를 세세요!</p>
            <hr class="my-4">
            <p>맞춤법 검사로 이동 전, 작성한 글을 ctrl+c, ctrl+v 하세요.</p>
            <a class="btn btn-primary " href= "{%url 'about' %}" role="button">ABOUT</a>
            
  <form action = "{% url 'result' %}">
    <textarea cols = "40" rows = "10" name = "fulltext"> </textarea>
    <br>
    <input type = "submit" value="Count!">
  </form>
        </div>

 

 
</body>

